@font-face {
  font-family: "Open Sans";
  src: url("../../../../public/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Rufina";
  src: url("../../../../public/assets/fonts/Rufina/Rufina-Regular.ttf");
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
  width: 100%;
  height: 80px;
  background-color: white;
  top: 0px;
  position: fixed;
  z-index: 5;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
  width: 100%;
}
.header__nav--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-flow: row nowrap;
}
.header__nav--list-item {
  font-size: 1.1rem;
  font-family: "Open Sans";
  color: black;
  white-space: nowrap;
}
.header__nav--list-item.active {
  display: block;
}
.header__nav--list-item.inactive {
  display: none;
}
.header__nav--list-item img {
  width: 50px;
  background-color: lightgray;
  border-radius: 50%;
}
.header__nav--list-item-drop {
  position: relative;
}
.header__nav--list-item-drop-menu {
  position: absolute;
  bottom: -7rem;
  left: -15rem;
  background-color: white;
  max-width: 22rem;
  padding: 1rem;
}
.header__nav--list-item:hover {
  color: rgb(0, 106, 255);
}
.header__nav--img img {
  width: 180px;
}

.footer {
  padding: 1.5rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-flow: column wrap;
}
.footer__list--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-flow: row wrap;
  padding: 2rem 6rem;
}
.footer__list--container-item {
  font-size: 1rem;
  font-family: "Nunito Sans";
  color: rgba(0, 0, 0, 0.7);
}
.footer__link {
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 1rem;
  font-family: "Nunito Sans";
  color: #738fc4;
}
.footer__info {
  font-size: 0.7rem;
  font-family: "Nunito Sans";
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0 17rem;
}
.footer__info--text {
  margin: 10px 0;
  line-height: 1rem;
}
.footer__info--text-link {
  font-size: 0.7rem;
  font-family: "Nunito Sans";
  color: #0D4599;
  text-decoration: underline;
}
.footer__info--text-link:visited {
  color: purple;
}
.footer__info--text-link-inline {
  font-size: 1rem;
  font-family: "Nunito Sans";
  color: #0D4599;
}
.footer__download img {
  margin: 0 10px 0 0;
}
.footer__social-icon {
  color: blue;
  margin: 0 5px;
  font-size: 30px;
}
.footer__social-logo {
  position: relative;
  top: 10px;
  left: -10px;
  width: 8rem;
}
.footer__img {
  margin: 50px 0 0 0;
}

.home {
  background-color: #f9f9fb;
}
.home__hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-flow: column wrap;
  background: url("https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/ZG_ZPA_08_21_Americana_ExtFront_1081_1440_desktopWebp-2.webp") no-repeat center center;
  background-size: cover;
  padding: 150px 0px 0 0px;
  height: 550px;
  width: 100%;
}
.home__hero-title {
  font-size: 2.6rem;
  font-family: "Rufina";
  color: white;
  text-shadow: 0px 0px 16px black;
}
.home__hero--form {
  position: sticky;
  top: 10px;
}
.home__hero--form-input {
  font-size: 1.1rem;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  width: 48rem;
  height: 4rem;
  padding: 2.5rem 2rem;
  border-radius: 5px;
  outline: none;
  background-color: #f9f9fb;
}
.home__hero--form-input:focus {
  box-shadow: 0px 0px 5px 3px #62aef7;
}
.home__hero--form-input::placeholder {
  font-size: 1.1rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.home__hero--form-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  font-size: 1.5rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.8);
}
.home__products {
  height: 450px;
  padding: 0 5rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  flex-flow: row wrap;
}
.home__products--images {
  width: 65%;
  min-width: 250px;
}
.home__products--images img {
  width: 100%;
}
.home__products--info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  flex-flow: column wrap;
  text-align: center;
}
.home__products--info-title {
  font-size: 1.4rem;
  font-family: "Open Sans";
  color: black;
  font-weight: 600;
}
.home__products--info-subtitle {
  font-size: 1.2rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.home__products--info-button {
  font-size: 1rem;
  font-family: "Open Sans";
  color: rgb(0, 106, 255);
  font-weight: 600;
  margin: 10px 0 0 0;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid rgb(0, 106, 255);
}
.home__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  flex-flow: row wrap;
  padding: 100px 3rem;
}
.home__container--card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row wrap;
  width: 30%;
  height: 600px;
  background-color: white;
  border: 20px;
  padding: 3rem 2rem;
  text-align: center;
  border: 2px solid lightgray;
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all 300ms ease;
}
.home__container--card.active {
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}
.home__container--card-img {
  width: 90%;
}
.home__container--card-title {
  font-size: 1.8rem;
  font-family: "Rufina";
  color: black;
}
.home__container--card-text {
  font-size: 1.2rem;
  font-family: "Nunito Sans";
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 10px 0;
}
.home__container--card-button {
  font-size: 1.1rem;
  font-family: "Nunito Sans";
  color: #62aef7;
  font-weight: 700;
  padding: 0.8rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #62aef7;
}
.home__container--card-button.active {
  background: rgb(0, 106, 255);
  color: white;
}

.sell {
  min-height: 1000px;
  width: 100%;
  padding: 100px 0 0 0;
}
.sell__intro {
  height: 520px;
  background: url("/public/assets/images/sell/Hero_Sell_Large_2x.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-flow: column nowrap;
  padding: 50px;
}
.sell__intro--title {
  font-size: 3.4rem;
  font-family: "Rufina";
  color: black;
}
.sell__intro--subtitle {
  font-size: 1.2rem;
  font-family: "Rufina";
  color: black;
  font-weight: 400;
}
.sell__hero--partner {
  margin: 4rem 0 0 0;
  background-color: #f9f9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row wrap;
}
.sell__hero--partner-info {
  width: 60%;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-flow: column nowrap;
}
.sell__hero--partner-info h1 {
  font-size: 3rem;
  font-family: "Rufina";
  color: black;
}
.sell__hero--partner-info-text {
  font-size: 1rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.9);
}
.sell__hero--partner-info-subtitle {
  font-size: 1rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.9);
}
.sell__hero--partner-info-form {
  position: relative;
  width: 100%;
}
.sell__hero--partner-info-form input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.sell__hero--partner-info-form input:hover {
  border: 2px solid #62aef7;
}
.sell__hero--partner-info-form input:focus {
  border: 2px solid #62aef7;
  box-shadow: 0 0 5px 2px rgb(0, 106, 255);
}
.sell__hero--partner-info-form-icon {
  position: absolute;
  transform: translate(-50%, 50%);
  right: 0.1rem;
  color: rgb(0, 106, 255);
  font-size: 1.5rem;
}
.sell__hero--partner-products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-flow: row wrap;
}
.sell__hero--partner-products div {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
  flex-flow: column nowrap;
}
.sell__hero--partner-products div h3 {
  font-size: 1.2rem;
  font-family: "Open Sans";
  color: black;
}
.sell__hero--partner-products div p {
  font-size: 1rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.9);
}
.sell__hero--partner-products div span {
  font-size: 0.7rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.8);
}
.sell__hero--partner-image {
  width: 40%;
}
.sell__hero--partner-image img {
  width: 100%;
}
.sell__hero--agent {
  display: flex;
  justify-content: Center;
  align-items: center;
  gap: 30px;
  flex-flow: row wrap;
  margin: 6rem 0;
  background-color: #f9f9fb;
  padding: 4rem 0;
}
.sell__hero--agent > div {
  width: 45%;
}
.sell__hero--agent > div > p {
  font-size: 1rem;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.8);
  margin: 20px 0 40px 0;
}
.sell__hero--agent > div > button {
  display: block;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 106, 255);
  border: none;
  outline: none;
}
.sell__hero--agent > div > a {
  display: inline-block;
  margin: 2rem 0;
  text-decoration: underline;
  font-size: 1rem;
  font-family: "Open Sans";
  color: #0D4599;
  font-weight: 700;
}
.sell__hero--agent > div > a:hover {
  color: black;
}
.sell__hero--agent > div > a:visited {
  color: purple;
}
.sell__hero--agent > div > a:visited:hover {
  color: black;
}
.sell__hero--agent h1 {
  font-size: 2.7rem;
  font-family: "Rufina";
  color: "black";
}
.sell__hero--agent-image {
  width: 35%;
}
.sell__hero--agent-image img {
  width: 100%;
}
.sell__hero--agent-info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-flow: row wrap;
  width: 100%;
}
.sell__hero--agent-info-cards > div {
  width: 45%;
}
.sell__hero--agent-info-cards > div > h3 {
  font-size: 1.2rem;
  font-family: "Rufina";
  color: "black";
  margin: 0 0 1rem 0;
}
.sell__hero--agent-info-cards > div > p {
  font-size: 1rem;
  font-family: "Open Sans";
  color: "black";
  width: 300px;
}
.sell__hero--agent-info-cards > div > p a {
  color: #0D4599;
  text-decoration: underline;
}
.sell__hero--agent-info-cards > div > p a:hover {
  color: #738fc4;
}
.sell__hero--agent-info-cards > div > p a:visited {
  color: purple;
}
.sell__hero--agent-info-cards > div > ul li {
  font-size: 1rem;
  font-family: "Open Sans";
  color: "black";
  width: 17rem;
}
.sell__hero--agent-info-cards > div > ul li > span {
  margin: 10px;
  font-size: 1.4rem;
  color: #0D4599;
}
.sell__hero--agent-info-cards span {
  font-size: 0.6rem;
  font-family: "Open Sans";
  color: "black";
}
.sell__line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: column nowrap;
  margin: 10rem 0 5rem 0;
}
.sell__line div {
  width: 9rem;
  height: 3px;
  background-color: yellow;
}
.sell__resources {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-flow: column nowrap;
}
.sell__resources h1 {
  font-size: 2.2rem;
  font-family: "Rufina";
  color: black;
}
.sell__resources--start {
  background: url("public/assets/images/sell/bg-mobile.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-flow: column wrap;
  font-size: 1.2rem;
  font-family: "Open Sans";
  color: white;
}
.sell__resources--start-form {
  position: relative;
}
.sell__resources--start-form input {
  width: 50rem;
  padding: 1rem;
  height: 4rem;
  font-size: 1rem;
}
.sell__resources--start-form input:hover {
  border: 2px solid #62aef7;
}
.sell__resources--start-form input:focus {
  border: 2px solid #62aef7;
  box-shadow: 0 0 5px 2px rgb(0, 106, 255);
}
.sell__resources--start-form button {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 5rem;
  height: 60%;
  padding: 0 1.4rem;
  background-color: rgb(0, 106, 255);
  font-weight: 900;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
.sell__resources--articles {
  font-size: 1.2rem;
  font-family: "Rufina";
  color: Black;
  margin: 3rem 0 0 0;
  text-align: center;
  overflow-x: hidden;
}
.sell__resources--articles h5 {
  font-size: 1rem;
  font-family: "Rufina";
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 0 50px 0;
}
.sell__resources--articles h5 > a {
  display: inline-block;
  text-decoration: underline;
  font-size: 1rem;
  font-family: "Open Sans";
  color: #0D4599;
  font-weight: 700;
}
.sell__resources--articles h5 > a:hover {
  color: black;
}
.sell__resources--articles h5 > a:visited {
  color: purple;
}
.sell__resources--articles h5 > a:visited:hover {
  color: black;
}
.sell__resources--articles-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  padding: 0 3rem;
}
.sell__resources--articles-nav-list {
  position: absolute;
  top: 0;
}
.sell__resources--articles-nav-list-item {
  cursor: pointer;
  display: inline;
  padding: 1.5rem;
  border: none;
}
.sell__resources--articles-nav-list-item:active {
  border-bottom: 4px solid rgb(0, 106, 255);
}
.sell__resources--articles-nav-list .inline {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 1.7rem 0 0 0;
}
.sell__resources--articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-flow: row nowrap;
  width: 98vw;
  margin: 5rem 0 0 0;
  position: relative;
}
.sell__resources--articles-container-card {
  min-width: 200px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.sell__resources--articles-container-card:hover {
  background-color: #f9f9fb;
  cursor: pointer;
}
.sell__resources--articles-container-card img {
  width: 100%;
}
.sell__resources--articles-container-card h4,
.sell__resources--articles-container-card p {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Open Sans";
  color: black;
}
.sell__resources--articles-container-card h4 {
  padding: 1rem 1rem 0 1rem;
}

.sign {
  position: fixed;
  height: 90%;
  width: 30%;
  transform: translate(50%, -50%);
  background: white;
  top: 50%;
  left: 20%;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  padding: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll;
}
.sign.active {
  display: block;
}
.sign.inactive {
  display: none;
}
.sign__icon {
  position: absolute;
  right: 20px;
  padding: 0.5rem;
  cursor: pointer;
}
.sign__icon:hover {
  background-color: lightgray;
  border-radius: 50%;
}
.sign__option {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 20px 0 0 0;
}
.sign__option--button {
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}
.sign__option--button:focus {
  border-bottom: 3px solid #62aef7;
}
.sign h2 {
  text-align: center;
  font-family: "Rufina";
}
.sign form {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1rem;
}
.sign form.active {
  display: block;
}
.sign form.inactive {
  display: none;
}
.sign form label {
  margin-top: 20px;
}
.sign form input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid black;
}
.sign form button {
  background-color: #006aff;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: 10px;
  border: none;
  transition: all 0.1s ease;
  cursor: pointer;
}
.sign form button:hover {
  background-color: #0D4599;
}
.sign form ul {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Open Sans";
  margin: 0 0 5px 0;
}
.sign__link {
  margin: 20px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign__link a {
  color: #0D4599;
  transition: all 0.1s ease;
}
.sign__link a:hover {
  color: rgb(0, 106, 255);
  text-decoration: underline;
}
.sign label {
  display: block;
}

.buy {
  padding: 100px 0 0 0;
}
.buy__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  flex-flow: row wrap;
}
.buy__content--product {
  width: 50%;
  max-height: 100vh;
  border: 2px solid black;
  box-shadow: 0 0 10px 3px black;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 0.5rem;
}
.buy__content--product-card {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0 5px 1px lightgray;
  margin: 0.5rem;
  border-radius: 10px;
}
.buy__content--product-card:hover {
  box-shadow: 0 0 5px 2px lightgray;
  cursor: pointer;
}
.buy__content--product-card img {
  width: 100%;
  max-height: 70%;
}
.buy__content--product-card-info {
  padding: 0.4rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=main.css.map */
