@use './styles/partials/components/_fonts.scss';

@use './styles/partials/pages/header/_header.scss';
@use './styles/partials/pages/footer/_footer.scss';
@use './styles/partials/pages/home/_home.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {}