@use './styles/partials/components/header';
@use './styles/partials/components/fonts.scss';

@use './styles/partials/pages/home/_home.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {}